body { 
    margin: 0; 
    padding: 0; 
    font-family: "IM Fell French Canon", sans-serif; 
    text-align: center;
    background-color: beige;
}

#controls {
    margin: 20px;
}

#map { 
    height: 50vh; 
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
}

#filters label {
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
}

.year-month-label {
    margin-bottom: 10px;
}

.color-box {
    width: 12px;
    height: 12px;
    border: 1px solid #333;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}


