body { 
    margin: 0; 
    padding: 0; 
    font-family: sans-serif; 
    text-align: center;
}

#controls {
    margin: 20px;

}

#map { 
    height: 50vh; 
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.color-box {
    width: 12px;
    height: 12px;
    border: 1px solid #333;
    display: inline-block;
    margin-right: 5px;
}


